@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    User List
    <a class="btn btn-primary" href="/Admin/User/Create"><i class="fas fa-user-plus"></i> Add new user</a>
}

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Create date</th>
                <th>Modified date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.CreatedDate.Value.ToLongDateString()</td>
                    <td>@item.ModifiedDate</td>
                    <td>@item.Status</td>
                    <td>
                        <a href="/Admin/User/Update/@item.ID" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/User/Delete/@item.ID" class="btn btn-danger btn-circle btn-sm" onclick="return confirm('Bạn có chắc muốn xóa không?')"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
</div>